#landing{
    /* background-image: url(./assets/bakground/bglanding.png); */
    /* background-size: cover; */
}

#publicity{
    background-image: url(./assets/bakground/bglanding.png);
    background-size: cover;
}


html {
    scroll-behavior: smooth;
  }


#testimonials{
    background-image: url(./assets/bakground/Testimonials.png);
    background-size: cover;
}